.title-header{
    font-size: 50px;
}
.music-header{
    width: 70px;
    height: 70px;
}

.table-header{
    margin-right: auto;
    margin-left: auto;
}

.search{
    margin-top: 15px;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    display: inline-block;
}
.search-button{
   margin-top: 5px;
    margin-right: 45%;
    margin-left: 45%;
    width: 10%;
    display: inline-block;
    background-color: black;
    -webkit-text-fill-color: white;
}
.cover-pic{
    width: 100px;
    height: 100px;
}
.song-title, .artist-name, .album-name{
    margin: 0;
}
.cover-pic-modal{
    width: 250px;
    height: 250px;
}
.modal-open .background-container{
    -webkit-filter: blur(5px);
}
.loader-gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.empty-search{
    text-align: center;
}
.col-sm-6{
    margin-top: 10px;
}
.modal{
    max-width: 100%;
    max-height: 100%;
}
